body{
    margin: 0;
    padding: 0;
    background: url("screen.jpg") no-repeat; 
    color: bisque;
    background-size: cover;

}
.box{
    width: 450px;
    background: rgba(145, 138, 138, 0.4);
    padding: 10px;
    text-align: center;
    margin: 5% auto;
    /* margin-top: 5%; */
    color: white;
    font-family: 'Century Gothic' , sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.box h1{
    font-family: 'Charm', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h5{
    font-family: 'Charm', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: center;
    font-family: 'Charm', cursive;

}
ul{
    margin: 0;
    padding: 0;

}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms; 

}

.box li a:hover{
    color: #b9b9b9;

}

@media  (max-width: 500px) {
    .box{
        width: 80%;
        margin: 0 auto;


    }
  }